<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
  <ul>
    <li>
      <a routerLink="/contact">contact</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/product">product</a>
    </li>
    <li>
      <a routerLink="/category">category</a>
    </li>
    <li>
      <a routerLink="/department" routerLinkActive="active">departments</a>
    </li>
    <li>
      <a routerLink="/employee">employees</a>
    </li>

  </ul>
</div>
<router-outlet></router-outlet>